.infrographic-wrapper {
  width: calc(100vw - 80px);
  margin: 0 auto;
  margin-top: 40px;
}

.infrographic-wrapper h1 {
  padding-bottom: 4px;
}

.text-shadow {
  text-shadow: -2px -2px white;
  text-shadow: -2px 2px white;
  text-shadow: 2px -2px white;
  text-shadow: 2px 2px white;
}

.abstract {
  font-style: italics;
  margin-bottom: 0;
  position: relative;
  top: 10px;
}

.underline {
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.25em #000;
  display: inline;
}

.desc-wrapper {
  margin: 0;
  min-width: 400px;
  width: 60%;
}

.infrograph {
  padding: 40px;
}

.module-wrapper {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
}

.module-wrapper-wrapper {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

.infromodules-wrapper {
  padding: 40px 0px; 
  position: relative;
}

.module-description {
  padding: 5px 10px;
  background-color: #223037;
  border-radius: 20px;
  color: white;
  display: inline-block;
  position: absolute;
  top: 50px;
  float: right;
  box-shadow: 1px 2px 8px #555;
  font-size: 12px;
}

.meal-plan-bar {
  /* overflow: hidden; */
}

.bar {
  height: 100%;
  display: inline-block;
  position: relative;
  transform: translateY(calc(-140%));
  box-shadow: inset 0 0 0 1px white;
}

.bar:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.bar:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.bar-desc {
  position: relative;
  overflow: overlay !important;
  top: 2.5em;
  font-size: 12px;
  font-style: italic;
}