.card {
    width: 30em;
    min-width: 300px;
    min-height: 300px;
    border: #EEE 2px solid;
    display: inline-block;
    margin-right: 40px;
    /* vertical-align: middle; */
    padding: 40px 0;
    padding-bottom: 70px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 40px;
		text-align: center !important;
}

.card::before {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    width: 0;
    height: 0;
}

.card::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    width: 0;
    height: 0;
}

/* Dont ask why, but this is needed */
.card::before {
    top: -1px;
    left: -2px;
}

.card::after {
    bottom: -4px;
    right: -4px;
}

.card:hover::before {
    width: 100%;
    height: 100%;
}

.card:hover::after {
    width: 100%;
    height: 100%;
}

.card:hover::before {
    border-top-color: #60daaa;
    border-right-color: #60daaa;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.card:hover::after {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.card-pic {
    border-radius: 100%;
    background-color: #EEE;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.card-pic img {
    height: 30px;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card-body {
    text-align: left;
    padding: 10px 30px;
}

.card-body p {
    opacity: 0.7;
    line-height: 1.25em;
}

.card-body h3 {
    font-family: "fira sans";
    text-align: center;
    text-transform: uppercase;
}

.card-link { 
    font-family: "fira sans";
    color: #48acf0;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    z-index: 5;
}
