a {
  text-decoration: None;
  color: black;
}

a:visted {
  color: black;
}

.home-recipes-feed-wrapper {
  padding: 60px;
  padding-top: 120px;
  position: relative;
}

.home-recipes-inside-wrapper {
  width: 40%;
  min-width: 400px;
  vertical-align: top;
  display: inline-block;
}

.recipe-list-item-header {
  font-weight: 700;
  font-family: "Open Sans Condensed";
  font-size: 26px;
  margin-bottom: 2.5px;
}

.recipe-feed-list-item-wrapper {
  padding-left: 50px;
  position: relative;
  margin-bottom: 30px;
}

.recipe-list-item-subheader {
  font-size: 20px;
  font-family: 'lekton';
  margin: 0;
}

.recipe-list-item-blurb {
}

.home-recipes-side-image {
  width: 40%;
  min-width: 400px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -134px;
  padding-left: 80px;
}

.home-recipes-side-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}


.recipe-list-item-ball {
  width: 50px;
  height: 50px;
  background-color: #222;
  border-radius: 100%;
  position: absolute;
  left: -25px;
}

.home-recipes-inside-wrapper {
  padding-left: 80px;
  top: -134px;
  position: relative;
  height: 645px;
  z-index: 0;
  overflow: scroll;
}

.recipes-feed-wrapper {
  padding: 40px;
  height: 400px;
  /*background-color: #EEE;*/
}

.home-recipes-desc {
  font-family: 'Unica One';
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 120px;
  margin-right: 40px;
}

.home-recipes-desc:before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 150px;
  border-bottom: 1px solid #111;
  width: 400px;;
}

.home-recipes-desc:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: -80px;
  border-bottom: 1px solid #111;
  width: 50px;;
}

.twitter-wrapper {
  padding: 20px;
  height: 600px;
  padding-top: 60px;
  position: relative;
}

.twitter-wrapper-side-header {
  font-family: 'Unica One';
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  transform: rotate(-90deg);
  position: absolute;
  right: 60px;
  top: 120px;
  margin-right: 40px;
}

.twitter-wrapper-side-header:before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 110px;
  border-bottom: 1px solid #111;
  width: 400px;;
}

.twitter-wrapper-side-header:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: -80px;
  border-bottom: 1px solid #111;
  width: 50px;;
}

.recipe-home-banner-wrapper {
  padding: 80px;
  padding-top: 40px;
  height: 500px;
}

.recipe-home-banner-wrapper p {
  line-height: 1em;
}

.recipe-list-banner {
  height: 400px;
  border-radius: 12px;
  width: calc(100vw - 350px);
  min-width: 400px;
  overflow: hidden;
  margin-top: 24px;
  position: relative;
}

.recipe-list-banner img {
  width: 100%;
  height: auto;
}

.recipe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 40px;
}

.recipe-overlay-popup {
	width: 80%;
  background-color: rgba(50, 50, 50, 0.7);
	opacity: 1;
  padding: 30px;
  padding-bottom: 60px;
  border-radius: 12px;
	background-blend-mode: multiply;
	position: relative; 
	top: 0px;
  z-index: 1;
}

.recipe-fab {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  background-color: #BBB;
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-blend-mode: multiply;
  transition: 400ms;
  opacity: 0.7;
	position: absolute;
	z-index: 5;
}

.recipe-fab-clicked {
  left: calc(80% - 40px);
	top: 45px;
	transform: rotate(45deg);
	background: None;
}

.recipe-fab:hover  {
  opacity: 1;
}

.recipe-fab-inside {
  position: relative;
  top: 20%;
  margin: 0;
  transform: translateY(-25%);
  font-size: 24px;
}

.hidden {
	opacity: 0;
}

.recipe-overlay-popup p {
	color: white;
}

.popup-title {
  font-family: 'lekton';
  width: 80%;
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  margin-top: 20px;
}

.subpopup-title {
  font-family: 'lekton';
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.ingredients-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ingredient {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #EEE;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  vertical-align: top;
}

.ingredient img {
  width: 75% !important;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.ingredient-name {
  font-family: 'lekton';
  font-weight: 700;
  position: relative;
  top: 0em;
	text-decoration: None;
	color: white;
}

.ing-input-button {
	position: relative;
	display: inline-block;
	float: right;
	top: -4em;
	font-size: 18px;
}

.ing-input {
	position: relative;
}

.ing-input-button {
	margin: 0;
}

.recipe-wrapper {
  padding: 80px;
}

.recipe-wrapper p {
  line-height: 1.25em;
  margin: 0;
}

.recipe-img-wrapper {
  height: 500px;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 30px;
}

.line {
  border-bottom: 1px solid #EEE;
}

.recipe-section {
  padding: 25px 0 !important;
}

.recipe-section p {
  font-size: 16px;
  font-weight: 200;
}

.recipe-header {
  font-family: 'lekton';
  font-size: 28px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  border-top: 1px solid #BBB;
}

.recipe-subheader {
  font-family: 'lekton';
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.section-header {
  font-family: "Cabin";
  font-weight: 500;
  font-size: 22px !important;
  padding-bottom: 5px;
}

.recipe-wrapper img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

#ing-banner img {
  width: 70%;
  height: auto;
}

.recipe-section a {
  color: black !important;
  top: 0em;
}

.tag {
  background-color: #DDD;
  border-radius: 12px; 
  padding: 5px 20px;
  margin-right: 15px;
  opacity: 0.8;
  transition: 500ms;
  display: inline;
  font-family: 'lekton';
  font-weight: 800;
  font-size: 14px;
}

.tag:hover {
  opacity: 1;
}

.section-content {
  padding: 5px 0; 
}

.directions-wrapper {
  padding-left: 20px;
}

.direction-wrapper {
  padding: 10px;
  padding-left: 20px;
  margin: 20px 0;
  border-left: 4px solid #BBB;
  transition: 300ms;
}

.clicked {
  border-left: 4px solid black;
}

.popup-desc {
  padding-top: 30px !important;
	font-family: 'Cabin' !important;
	line-height: 1.5em !important;
	font-size: 16px;
  font-weight: 300 !important; 
}

.results-search-wrapper {
  top: 0;
  text-align: center;
  padding: 30px 0;
}

.results-wrapper {
  padding: 0 80px;
}

.results-search-wrapper input[type=text] {
  font-family: "Cabin";
  color: #565554;
  transition: 0.5s;
  width: calc(100% - 60px);
  min-width: 200px;
  background-color: #EEE;
  border-radius: 20px;
  padding: 10px 20px;
  color: #223037;
  outline: none;
  border: none;
  font-size: 14px;
  margin: 0;
}

.results-wrapper-wrapper {
  padding-top: 40px;
}

.result-item-wrapper {
  border-radius: 10px;
  width: 70%;
  min-width: 400px;
  padding: 30px;
  background: rgba(230,230,230,0.1); 
  border: solid 1px #CCC;
  max-height: 300px;
}